<% content_for :title do %>Settings<% end %>

<span class="section-header">Settings</span>

<hr>

<% if @user_courses.any? %>
  <h4>My Courses</h4>
  <table class="table table-bordered" id="settings-courses">
    <% @user_courses.each do |course| %>
      <tr>
        <td>
          <%= course.display_name %>
          <span class="pull-right">
            <%= link_to 'Delete Course', delete_course_path(:id => course.id), :class => "btn btn-mini", :confirm => "Are you sure you want to delete #{course.display_name}? The course will be deleted for all students.", :method => :delete %>&nbsp;
            <%= link_to 'Leave', leave_course_path(:id => course.id), :class => "btn btn-mini", :confirm => "Are you sure you want to leave #{course.display_name}? Your completed assignments will be preserved if you rejoin the course." %>
          </span>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
