<div class="row-fluid">
  <div class="span4">
    <div class="well well-small">
      <span class="section-header">Settings</span>
      
    </div>
  </div>
  <div class="span8">
    <div class="well well-small">
      <span class="section-header">Assignments</span>
      
      <div class="well well-small well-inner">
        <span class="assignment pull-left">Take-home Quiz</span>
        <span class="course pull-right">CS 143A</span><br>
        <p>
          Covers all material from discussion
        </p>
      </div>
      <div class="well well-small well-inner">
        <span class="assignment-title pull-left">Take-home Quiz</span>
        <span class="course pull-right">CS 143A</span><br>
        <p>
          Covers all material from discussion
        </p>
      </div>
      <div class="well well-small well-inner">
        <span class="assignment-title pull-left">Take-home Quiz</span>
        <span class="course pull-right">CS 143A</span><br>
        <p>
          Covers all material from discussion
        </p>
      </div>
      
    </div>
  </div>
</div>