body {
  color: #C9C9C9;
  background-image: url('/assets/bg.png');
  font-family: 'Avenir', sans-serif;
}

a {
  color: #C9C9C9;
  font-style: italic;
}

a:hover {
  color: #C9C9C9;
  font-style: italic;
}

hr {
  margin-top: 8px;
  margin-bottom: 8px;
}

h4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #3A3026;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px #3A3026;
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px #3A3026;
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 7px #3A3026;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 2px auto #333333;
  outline-offset: -2px;
}

.border {
  color: #333333;
  border-radius: 9px;
  background-color: #F2F2F2;
  box-shadow: 1px 1px 40px rgba(0,0,0,0.7);
  margin-bottom: 8px;
}

.section-header {
  font-size: 25px;
  line-height: 28px;
}

.event-header {
  font-size: 18px;
  margin-bottom: 4px;
}

.event-title {
  font-weight: bold;
}

.event-date {
  font-style: italic;
}

.outline-red {
  box-shadow: 0px 0px 0px 2px #8E2800;
}

.outline-yellow {
  box-shadow: 0px 0px 0px 2px #B64926;
}

.outline-blue {
  box-shadow: 0px 0px 0px 2px #FFB03B;
}

.outline-green {
  box-shadow: 0px 0px 0px 2px #468966;
}

.course {
  font-size: 18px;
}

.well-inner {
  background-color: #EEEEEE;
  margin-bottom: 12px;
}

#site-title {
  font-family: 'Lobster Two', sans-serif;
  color: #C9C9C9;
  text-shadow: 1px 1px 8px rgba(0,0,0,0.9);
}

#site-title a:hover {
  text-decoration: none;
}

#user-links {
  margin-top: 18px;
}