body {
  color: #C9C9C9;
  background-image: url('/assets/bg.png');
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #C9C9C9;
  font-style: italic;
}

a:hover {
  color: #C9C9C9;
  font-style: italic;
}

hr {
  margin-top: 12px;
  margin-bottom: 12px;
}

h4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

input {
  width: 95%;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #3A3026;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px #3A3026;
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px #3A3026;
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 7px #3A3026;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #464646, #323232);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#464646), to(#323232));
  background-image: -webkit-linear-gradient(top, #464646, #323232);
  background-image: -o-linear-gradient(top, #464646, #323232);
  background-image: linear-gradient(to bottom, #464646, #323232);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff464646', endColorstr='#ff323232', GradientType=0);
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 2px auto #333333;
  outline-offset: -2px;
}

.border {
  color: #333333;
  border-radius: 9px;
  background-color: #F2F2F2;
  box-shadow: 1px 1px 40px rgba(0,0,0,0.7);
  margin-bottom: 8px;
}

.login a {
  color: #333333;
}

.section-header {
  font-size: 25px;
  line-height: 28px;
}

.event-header {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 4px;
}

.event-title {
  font-weight: bold;
}

.event-date {
  font-style: italic;
}

.outline1 {
  box-shadow: 0px 0px 0px 2px #A22800;
}

.outline2 {
  box-shadow: 0px 0px 0px 2px #F06B05;
}

.outline3 {
  box-shadow: 0px 0px 0px 2px #FFB03B;
}

.outline4 {
  box-shadow: 0px 0px 0px 2px #4677A4;
}

.outline-completed {
  box-shadow: 0px 0px 0px 2px #5C832F;
}

.course {
  font-size: 18px;
}

.login {
  margin-top: 80px;
}

.login .well-small form {
  margin-bottom: 0px;
}

.well-inner a {
  color: #333333;
  text-decoration: underline;
}

.well-small .well-inner form {
  margin-bottom: 0px;
}

.well-small .well-inner label {
  margin-bottom: 0px;
}

.well-small .well-inner {
  background-color: #EEEEEE;
  margin-bottom: 12px;
}

.well-small {
  margin-bottom: 8px;
}

.well-small form {
  margin-bottom: 8px;
}

/* Align the button with the assignment title */
.twitter-share-button {
  margin-top: 2px;
}

.notes {
  line-height: 20px;
}
 
#sort a {
  font-style: normal;
}

#settings-courses a {
  font-style: normal;
}

#footer {
  margin-bottom: 8px;
}

#sign-up-link {
  margin-top: 2px;
}

#site-title {
  font-family: 'Lobster Two', sans-serif;
  font-style: italic;
  color: #C9C9C9;
  text-shadow: 1px 1px 8px rgba(0,0,0,0.9);
}

#site-title a:hover {
  text-decoration: none;
}

#user-links {
  margin-top: 18px;
}